body{
    background-image: linear-gradient(black, rgb(46, 9, 46), black, rgb(44, 7, 44), black, rgb(72, 16, 72), black, rgb(72, 16, 72), black, rgb(72, 16, 72), black, rgb(72, 16, 72));
}

#GA{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: just-comic;
    color: rgb(0, 0, 0);
}



.archives_thumbnail{
    width: 90%;
    padding: 0%;
    border-radius: 10px;
}

.archives_container > p{
    font-size: calc(1vw + 1vh);
    font-family: garet-book;
    padding: 0% 10%;
}

.archives_container{
    width: 60%;
    border-radius: 15px;
    border: 5px black solid;
    background-color: #FDE9DF;
    font-size: calc(1.5vw + 1.5vh);
}

.archives_hoverable:hover{
    opacity: 80%;
}


.archives_img{
    width: 90%;
    border: 30px black solid;
}