.footer {
    background: #050505;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .footer-content {
    padding: 30px 20px 32px 20px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-self: stretch;
    flex: 1;
    position: relative;
  }
  .links {
    padding: 5px 30px 5px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }
  .inquire-us-send-suggestions {
    color: #ffffff;
    text-align: left;
    font-family: var(--body-font-family, "Ubuntu-Regular", sans-serif);
    font-size: var(--body-font-size, 25px);
    font-weight: var(--body-font-weight, 400);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .links2 {
    padding: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .facebook-link {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    text-decoration: none;
  }
  .f-initial-letter-for-logo-company-isolated-vector-1 {
    opacity: 0.8;
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    object-fit: cover;
  }
  .facebook {
    color: #ffffff;
    text-align: left;
    font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
    font-size: var(--navbar-title-font-size, 20px);
    font-weight: var(--navbar-title-font-weight, 700);
    opacity: 0.8;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .gmail-link {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }
  .gmail-logo-white-512-px-1 {
    opacity: 0.8;
    flex-shrink: 0;
    width: 25px;
    height: 18.23px;
    position: relative;
    object-fit: cover;
  }
  .gmail {
    color: #ffffff;
    text-align: left;
    font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
    font-size: var(--navbar-title-font-size, 20px);
    font-weight: var(--navbar-title-font-weight, 700);
    opacity: 0.8;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .github-link {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    text-decoration: none;
  }
  .icon-git-hub {
    flex-shrink: 0;
    width: 25px;
    height: 24.29px;
    position: relative;
    overflow: visible;
  }
  .git-hub {
    color: #ffffff;
    text-align: left;
    font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
    font-size: var(--navbar-title-font-size, 20px);
    font-weight: var(--navbar-title-font-weight, 700);
    opacity: 0.8;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
  }
  .logo {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }
  .white-1 {
    flex-shrink: 0;
    width: 167.86px;
    height: 150px;
    position: relative;
    object-fit: cover;
  }
  .developed-by-the-web-development-team-of-catch-2-t-27 {
    color: #ffffff;
    text-align: center;
    font-family: var(--small-font-family, "EbGaramond-Regular", sans-serif);
    font-size: var(--small-font-size, 10.5px);
    font-weight: var(--small-font-weight, 400);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  