/*FONTS*/
@font-face {
    src: url("https://catch2t27.com/fonts/Horizon/NEW%20UPDATED%20VERSION/horizon_outlined.otf");
    font-family: horizon-outlined;
}

@font-face {
    src: url("https://catch2t27.com/fonts/Horizon/NEW%20UPDATED%20VERSION/horizon.otf");
    font-family: horizon;
}

@font-face {
    src: url("https://catch2t27.com/fonts/Tabarra/TabarraPro-Black-FFP.ttf");
    font-family: tabarra-black;
}

@font-face {
    src: url("https://catch2t27.com/fonts/Tabarra/TabarraPro-Light-FFP.ttf");
    font-family: tabarra-light;
}

@font-face {
    src: url("https://catch2t27.com/fonts/Tabarra/TabarraPro-NarrowLight-FFP.ttf");
    font-family: tabarra-narrow;
}

@font-face {
    src: url("https://catch2t27.com/fonts/Helvetica-Neue/HelveticaNeueBlack.otf");
    font-family: helvetica-neue-black;
}

@font-face {
    src: url("https://catch2t27.com/fonts/Helvetica-Neue/HelveticaNeueLight.otf");
    font-family: helvetica-neue-light;
}

@font-face {
    src: url("https://catch2t27.com/fonts/Helvetica-Neue/HelveticaNeueMedium.otf");
    font-family: helvetica-neue-medium;
}

@font-face {
    src: url("https://catch2t27.com/fonts/Helvetica-Neue/HelveticaNeueUltraLight.otf");
    font-family: helvetica-neue-ultra-light;
}

@font-face {
    src: url("https://catch2t27.com/fonts/Helvetica-Neue/HelveticaNeueThin.otf");
    font-family: helvetica-neue-thin;
}

@font-face {
    src: url("https://catch2t27.com/fonts/garet/Garet-Book.otf");
    font-family: garet-book;
}

@font-face {
    src: url("https://catch2t27.com/fonts/garet/Garet-Heavy.otf");
    font-family: garet-heavy;
}

@font-face {
    src: url("https://catch2t27.com/fonts/Just\ Cosmic.otf");
    font-family: just-comic;
}

.horizon_outined{
    font-family: horizon-outlined;
}

.horizon{
    font-family: horizon;
}

.tabarra-light{
    font-family: tabarra-light;
}

.tabarra-black{
    font-family: tabarra-black;
}

.tabarra-narrow{
    font-family: tabarra-narrow;
}

/*font size*/
.f_vsml{
    font-size: calc(0.75vw + 0.75vh);
}

.f_sml{
    font-size: calc(1vw + 1vh);
}

.f_mid{
    font-size: calc(1.5vw + 1.5vh);
}

.f_big{
    font-size: calc(2vw + 2vh);
}



/*------------------------*/
/*MAIN BODY*/
/*------------------------*/

body{
    background-color: black;
    color: aliceblue;
    font-family: horizon;
}

body::-webkit-scrollbar {
    width: 10px;
}
    
body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 208, 252);
    outline: 3px solid black;
    border-radius: 5%;
}

/*------------------------*/
/*STYLE PACKS*/
/*------------------------*/

/*position*/
.left{
    display: flex;
    justify-content: left;
    align-items: left;
    vertical-align: auto;
}

.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: auto;
}

.right{
    display: flex;
    justify-content: right;
    align-items: right;
    vertical-align: auto;
}   



/*------------------------*/
/*NAVIGATION BAR*/
/*------------------------*/


#navbar{
    position: fixed;
    border-bottom: black solid 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(1.5vw + 2vh);
    background-image: linear-gradient(to right, #FDE9DF, #FDE9DF, #FDE9DF, #FDE9DF, #743E79);
    display: flex;
    color: #743E79;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 999999;
}

#navbar::-webkit-scrollbar {
    height: 1px;
}
    
#navbar::-webkit-scrollbar-track {
    background-color: black;
}

#navbar::-webkit-scrollbar-thumb {
    background-image: linear-gradient(black, rgb(255, 208, 252),black);
    outline: 1px solid black;
    border-radius: 5%;
}

.navtab{
    font-family: just-comic;
    text-align: center;
    padding: 0.3% 2% 0% 2%;
    vertical-align: middle;
    font-size: calc(1.5*(0.6vw + 1vh));
    border: 1px solid rgb(0, 0, 0);
    border-bottom: #fde9ff;
    position: relative;
    text-wrap: nowrap;
    display: flex;
}

.navtab:hover{
    border-top-left-radius: calc(0.2vw + 0.1vh);
    border-top-right-radius: calc(0.2vw + 0.1vh);
    background-color:black;
    transition: 0.2s;
    color: rgb(250, 209, 253);
}

.navtab_current{
    background-color: black;
    color: rgb(250, 209, 253);
    border-top-left-radius: calc(0.5vw + 0.25vh);
    border-top-right-radius: calc(0.5vw + 0.25vh);
    
}

.navtab_current:hover{
    background-color: black;
    border-radius: 0;
    border-top-left-radius: calc(0.5vw + 0.25vh);
    border-top-right-radius: calc(0.5vw + 0.25vh);
}

#navtab_left{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
}

#navtab_right{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
}

#navtab_left_placeholder{
    padding: 1%;
    border: 0;
    background-color:  transparent;
}


#navtab_left_placeholder:hover{
    padding: 1%;
    border: 0;
    background-color:  transparent;
    position: relative;
}

#home{
    height:calc(1.5vw + 2vh);
    width: calc(5 * (1.5vw + 2vh));
}

#navtab_right_placeholder{
    padding: 1%;
    border: 0;
    background-color: transparent;
    
}

#navtab_right_placeholder:hover{
    padding: 1%;
    border: 0;
    background-color: transparent;
}


