#link_table{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.link_row{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: garet-book;
    width: 100%;
    font-size: calc(2.5vw + 1.5vh);
    padding: 10% 0%;
}

.link_name{
    position: absolute;
    width: 70%;
    text-align: center;
    text-wrap: balance;
}

.link{
    position: absolute;
    left: 72%;
}

.link_img{
    width: calc(2.5vw + 1.5vh) ;
}

.link_img:hover{
    opacity: 80%;
}