a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
  -webkit-font-smoothing: antialiased;
}

menu,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  height: 800px;
  height: 100%;
  margin: 0;
}


.content {
  background: #200d32;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.frame-11 {
  background: #ffffff;
  border-radius: 30px;
  padding: 15px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.month {
  color: #000000;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 578px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.year {
  color: #000000;
  text-align: center;
  font-family: var(--body-font-family, "Ubuntu-Regular", sans-serif);
  font-size: var(--body-font-size, 25px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  width: 578px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-12 {
  padding: 10px 171px 10px 171px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.days {
  flex-shrink: 0;
  width: 920px;
  height: 46px;
  align-items: center;
  position: relative;
}

.mon {
  color: #743e79;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: absolute;
  left: 20px;
  top: 10px;
  width: 115.79px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tues {
  color: #743e79;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: absolute;
  left: 147.37px;
  top: 10px;
  width: 115.79px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wed {
  color: #743e79;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: absolute;
  left: 274.74px;
  top: 10px;
  width: 115.79px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thu {
  color: #743e79;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: absolute;
  left: 402.11px;
  top: 10px;
  width: 115.79px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fri {
  color: #743e79;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: absolute;
  left: 529.47px;
  top: 10px;
  width: 115.79px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sat {
  color: #743e79;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: absolute;
  left: 656.84px;
  top: 10px;
  width: 115.79px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sun {
  color: #743e79;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: absolute;
  left: 784.21px;
  top: 10px;
  width: 115.79px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-13 {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 943px;
  position: relative;
  overflow: hidden;
}

.group-6 {
  flex-shrink: 0;
  width: 903px;
  height: 579px;
  position: static;
}

.group-1 {
  width: 903px;
  height: 99.83px;
  position: static;
}

.day {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 20px;
  top: 0px;
}

.day2 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 150.47px;
  top: 0px;
}

.day3 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 280.94px;
  top: 0px;
}

.day4 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 411.4px;
  top: 0px;
}

.day5 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 541.87px;
  top: 0px;
}

.day6 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 672.34px;
  top: 0px;
}

.day7 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 802.81px;
  top: 0px;
}

.group-5 {
  width: 903px;
  height: 99.83px;
  position: static;
}

.day8 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 20px;
  top: 479.17px;
}

.day9 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 150.47px;
  top: 479.17px;
}

.day10 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 280.94px;
  top: 479.17px;
}

.day11 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 411.4px;
  top: 479.17px;
}

.day12 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 541.87px;
  top: 479.17px;
}

.day13 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 672.34px;
  top: 479.17px;
}

.day14 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 802.81px;
  top: 479.17px;
}

.group-2 {
  width: 903px;
  height: 99.83px;
  position: static;
}

.day15 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 20px;
  top: 119.79px;
}

.day16 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 150.47px;
  top: 119.79px;
}

.day17 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 280.94px;
  top: 119.79px;
}

.day18 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 411.4px;
  top: 119.79px;
}

.day19 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 541.87px;
  top: 119.79px;
}

.day20 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 672.34px;
  top: 119.79px;
}

.day21 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 802.81px;
  top: 119.79px;
}

.group-3 {
  width: 903px;
  height: 99.83px;
  position: static;
}

.day22 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 20px;
  top: 239.59px;
}

.day23 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 150.47px;
  top: 239.59px;
}

.day24 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 280.94px;
  top: 239.59px;
}

.day25 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 411.4px;
  top: 239.59px;
}

.day26 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 541.87px;
  top: 239.59px;
}

.day27 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 672.34px;
  top: 239.59px;
}

.day28 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 802.81px;
  top: 239.59px;
}

.group-4 {
  width: 903px;
  height: 99.83px;
  position: static;
}

.day29 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 20px;
  top: 359.38px;
}

.day30 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 150.47px;
  top: 359.38px;
}

.day31 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 280.94px;
  top: 359.38px;
}

.day32 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 411.4px;
  top: 359.38px;
}

.day33 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 541.87px;
  top: 359.38px;
}

.day34 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 672.34px;
  top: 359.38px;
}

.day35 {
  background: #d9d9d9;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 802.81px;
  top: 359.38px;
}

.day36 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 20px;
  top: 0px;
  overflow: hidden;
}

._1 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day37 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 280.94px;
  top: 0px;
  overflow: hidden;
}

._3 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day38 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 411.4px;
  top: 0px;
  overflow: hidden;
}

._4 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day39 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 541.87px;
  top: 0px;
  overflow: hidden;
}

._5 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day40 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 672.34px;
  top: 0px;
  overflow: hidden;
}

._6 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day41 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 802.81px;
  top: 0px;
  overflow: hidden;
}

._7 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day42 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 150.47px;
  top: 0px;
  overflow: hidden;
}

._2 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day43 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 20px;
  top: 120px;
  overflow: hidden;
}

._8 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day44 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 280.94px;
  top: 120px;
  overflow: hidden;
}

._10 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day45 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 411.4px;
  top: 120px;
  overflow: hidden;
}

._11 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day46 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 541.87px;
  top: 120px;
  overflow: hidden;
}

._12 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day47 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 672.34px;
  top: 120px;
  overflow: hidden;
}

._13 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day48 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 802.81px;
  top: 120px;
  overflow: hidden;
}

._14 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day49 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 150.47px;
  top: 120px;
  overflow: hidden;
}

._9 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day50 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 20px;
  top: 239px;
  overflow: hidden;
}

._15 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day51 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 280.94px;
  top: 239px;
  overflow: hidden;
}

._17 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day52 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 411.4px;
  top: 239px;
  overflow: hidden;
}

._18 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day53 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 541.87px;
  top: 239px;
  overflow: hidden;
}

._19 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day54 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 672.34px;
  top: 239px;
  overflow: hidden;
}

._20 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day55 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 802.81px;
  top: 239px;
  overflow: hidden;
}

._21 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day56 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 150.47px;
  top: 239px;
  overflow: hidden;
}

._16 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day57 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 20px;
  top: 359px;
  overflow: hidden;
}

._22 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day58 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 280.94px;
  top: 359px;
  overflow: hidden;
}

._24 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day59 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 411.4px;
  top: 359px;
  overflow: hidden;
}

._25 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day60 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 541.87px;
  top: 359px;
  overflow: hidden;
}

._26 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day61 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 672.34px;
  top: 359px;
  overflow: hidden;
}

._27 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day62 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 802.81px;
  top: 359px;
  overflow: hidden;
}

._28 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day63 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 150.47px;
  top: 359px;
  overflow: hidden;
}

._23 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day64 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 20px;
  top: 478px;
  overflow: hidden;
}

._29 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day65 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 280.94px;
  top: 478px;
  overflow: hidden;
}

._31 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day66 {
  background: rgba(116, 62, 121, 0.45);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 411.4px;
  top: 478px;
  overflow: hidden;
}

._110 {
  color: #ffffff;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px transparent;
}

.day67 {
  background: rgba(116, 62, 121, 0.45);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 541.87px;
  top: 478px;
  overflow: hidden;
}

._210 {
  color: #ffffff;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px transparent;
}

.day68 {
  background: rgba(116, 62, 121, 0.45);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 672.34px;
  top: 478px;
  overflow: hidden;
}

.day69 {
  background: rgba(116, 62, 121, 0.45);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 802.81px;
  top: 478px;
  overflow: hidden;
}

._42 {
  color: #ffffff;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px transparent;
}

.day70 {
  background: rgba(217, 217, 217, 0.62);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120.19px;
  height: 99.83px;
  position: absolute;
  left: 150.47px;
  top: 478px;
  overflow: hidden;
}

._30 {
  color: #050505;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  width: 235px;
  height: 99.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background: #050505;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.footer-content {
  padding: 30px 20px 32px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-self: stretch;
  flex: 1;
  position: relative;
}

.links {
  padding: 5px 30px 5px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.inquire-us-send-suggestions {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Ubuntu-Regular", sans-serif);
  font-size: var(--body-font-size, 25px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.links2 {
  padding: 0px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.facebook-link {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.f-initial-letter-for-logo-company-isolated-vector-1 {
  opacity: 0.8;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  object-fit: cover;
}

.facebook {
  color: #ffffff;
  text-align: left;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  opacity: 0.8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gmail-link {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.gmail-logo-white-512-px-1 {
  opacity: 0.8;
  flex-shrink: 0;
  width: 25px;
  height: 18.23px;
  position: relative;
  object-fit: cover;
}

.gmail {
  color: #ffffff;
  text-align: left;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  opacity: 0.8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.github-link {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.icon-git-hub {
  flex-shrink: 0;
  width: 25px;
  height: 24.29px;
  position: relative;
  overflow: visible;
}

.git-hub {
  color: #ffffff;
  text-align: left;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  opacity: 0.8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.white-1 {
  flex-shrink: 0;
  width: 167.86px;
  height: 150px;
  position: relative;
  object-fit: cover;
}

.developed-by-the-web-development-team-of-catch-2-t-27 {
  color: #ffffff;
  text-align: center;
  font-family: var(--small-font-family, "EbGaramond-Regular", sans-serif);
  font-size: var(--small-font-size, 10.5px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}