a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
  -webkit-font-smoothing: antialiased;
}

menu,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  height: 800px;
  height: 100%;
  margin: 0;
}

.content {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.hero {
  background: #200d32;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.frame-38 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  background: url(frame-380.png) top left;
  background-size: 250%;
  background-repeat: repeat;
}

.frame-37 {
  padding: 100px 10px 100px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 944px;
  position: relative;
  overflow: hidden;
}

.hero-content {
  border-style: dashed;
  border-color: transparent;
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-self: stretch;
  flex: 1;
  min-width: 720px;
  position: relative;
  overflow: hidden;
}

.frame-7 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.de-la-salle-university-college-of-computer-studies-id-123-batch-student-government {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Ubuntu-Regular", sans-serif);
  font-size: var(--body-font-size, 25px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.welcome-to-catch-2-t-27 {
  color: #ffffff;
  text-align: left;
  font-family: "Ubuntu-Bold", sans-serif;
  font-size: 80px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-details {
  padding: 26px 0px 26px 0px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 443px;
  position: relative;
}

.check-up-for-phex-and-drug-testing {
  color: #ffffff;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drug-testing-and-phex-check-up-are-mandatory-for-students {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Ubuntu-Regular", sans-serif);
  font-size: var(--body-font-size, 25px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.available-only-up-to-july-27-2024 {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Ubuntu-Regular", sans-serif);
  font-size: var(--body-font-size, 25px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

._00-primary-button {
  background: #25be62;
  border-radius: 20px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 220px;
  height: 75px;
  position: relative;
}

.apply-now {
  color: #ffffff;
  text-align: left;
  font-family: "Ubuntu-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.new-knowledge-links {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  background: url(new-knowledge-links0.png) top left;
  background-size: 35.71%;
  background-repeat: repeat;
}

.link-content {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.link-content-descriptioon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.community-link-hub {
  color: #000000;
  text-align: left;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.organizations-and-other-id-123-s-churn-out-useful-articles-for-you-to-use {
  color: #000000;
  text-align: center;
  font-family: var(--body-font-family, "Ubuntu-Regular", sans-serif);
  font-size: var(--body-font-size, 25px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-8 {
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.orgs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.organizations {
  color: #000000;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catch-2-t-27 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.catch-logo {
  background: #ffffff;
  border-radius: 20px;
  padding: 20px 6px 20px 6px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  height: 148px;
  position: relative;
  overflow: hidden;
}

.colored-2 {
  flex-shrink: 0;
  width: 177px;
  height: 176px;
  position: relative;
  object-fit: cover;
}

.catch-2-t-27-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.catch-2-t-27-links2 {
  color: #000000;
  text-align: center;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.your-one-stop-shop-for-every-id-123-s-needs {
  color: #000000;
  text-align: center;
  font-family: var(--body-font-family, "Ubuntu-Regular", sans-serif);
  font-size: var(--body-font-size, 25px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.important-links2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 339.5px;
  position: relative;
}

._01-p-archives2 {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.icon-boxes2 {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: visible;
}

._04-p-links2 {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.icon-newspaper2 {
  flex-shrink: 0;
  width: 39.13px;
  height: 30px;
  position: relative;
  overflow: visible;
}

._03-p-calendar2 {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.icon-calendar2 {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: visible;
}

._05-p-about-us2 {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.icon-info2 {
  flex-shrink: 0;
  width: 16.5px;
  height: 30px;
  position: relative;
  overflow: visible;
}

.latest-article {
  background: #eeeeee;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.frame-3 {
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.what-s-up-up-next {
  color: #000000;
  text-align: left;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.july-1-2024-july-31-2024 {
  color: #000000;
  text-align: left;
  font-family: var(--body-font-family, "Ubuntu-Regular", sans-serif);
  font-size: var(--body-font-size, 25px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.latest-article-content {
  padding: 44px 0px 44px 0px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

._447770209-122118956210288111-8517960029465226187-n-1 {
  border-radius: 25px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  flex-shrink: 0;
  width: 300px;
  height: 280.07px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

.la-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  min-width: 360px;
  position: relative;
  overflow: hidden;
}

.drug-testing-and-phex-examination {
  color: #000000;
  text-align: left;
  font-family: var(--title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--title-font-size, 40px);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.to-complete-the-periodic-health-examination-ph-ex-health-services-office-hso-shall-facilitate-the-on-site-drug-testing-of-undergraduate-students-with-id-123-and-below-on-28-may-to-july-2023-at-the-taft-campus-it-shall-be-conducted-by-an-accredited-drug-testing-facility-at-the-ground-floor-of-e-yuchengco-hall-taft-campus-monday-to-sunday-from-8-00-am-to-5-00-pm {
  color: #000000;
  text-align: left;
  font-family: var(--body-font-family, "Ubuntu-Regular", sans-serif);
  font-size: var(--body-font-size, 25px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1 {
  padding: 0px 56px 0px 56px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

._00-primary-button2 {
  background: #25be62;
  border-radius: 20px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 300px;
  height: 100px;
  position: relative;
}

.visit-article {
  color: #ffffff;
  text-align: left;
  font-family: "Ubuntu-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer {
  background: #050505;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.footer-content {
  padding: 30px 20px 32px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-self: stretch;
  flex: 1;
  position: relative;
}

.links {
  padding: 5px 30px 5px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.inquire-us-send-suggestions {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Ubuntu-Regular", sans-serif);
  font-size: var(--body-font-size, 25px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.links2 {
  padding: 0px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.facebook-link {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.f-initial-letter-for-logo-company-isolated-vector-1 {
  opacity: 0.8;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  object-fit: cover;
}

.facebook {
  color: #ffffff;
  text-align: left;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  opacity: 0.8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gmail-link {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.gmail-logo-white-512-px-1 {
  opacity: 0.8;
  flex-shrink: 0;
  width: 25px;
  height: 18.23px;
  position: relative;
  object-fit: cover;
}

.gmail {
  color: #ffffff;
  text-align: left;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  opacity: 0.8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.github-link {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.icon-git-hub {
  flex-shrink: 0;
  width: 25px;
  height: 24.29px;
  position: relative;
  overflow: visible;
}

.git-hub {
  color: #ffffff;
  text-align: left;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  opacity: 0.8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.white-1 {
  flex-shrink: 0;
  width: 167.86px;
  height: 150px;
  position: relative;
  object-fit: cover;
}

.developed-by-the-web-development-team-of-catch-2-t-27 {
  color: #ffffff;
  text-align: center;
  font-family: var(--small-font-family, "EbGaramond-Regular", sans-serif);
  font-size: var(--small-font-size, 10.5px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}