a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
  -webkit-font-smoothing: antialiased;
}

menu,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  height: 800px;
  height: 100%;
  margin: 0;
}

.archives,
.archives * {
  box-sizing: border-box;
}
.archives {
  background: #050505;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  min-width: 360px;
  position: relative;
  overflow: hidden;
}
.navbar {
  background: #ffffff;
  padding: 8px 36px 9px 36px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
}
._00-p-home {
  border-radius: 99px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 93px;
  height: 58px;
  position: relative;
}
.colored-1 {
  flex-shrink: 0;
  width: 96px;
  height: 74px;
  position: relative;
  object-fit: cover;
}
.important-links {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}
._01-p-archives {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
.calendar {
  color: #777777;
  text-align: center;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-boxes {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: visible;
}
._04-p-links {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
.pertinent-links {
  color: #777777;
  text-align: center;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-newspaper {
  flex-shrink: 0;
  width: 39.13px;
  height: 30px;
  position: relative;
  overflow: visible;
}
._03-p-calendar {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
.icon-calendar {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: visible;
}
._05-p-about-us {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  position: relative;
}
.about-us {
  color: #777777;
  text-align: center;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-info {
  flex-shrink: 0;
  width: 16.5px;
  height: 30px;
  position: relative;
  overflow: visible;
}
.content {
  background: linear-gradient(
    210.84deg,
    rgba(5, 4, 65, 1) 1.2100296095013618%,
    rgba(55, 20, 87, 1) 36.499473452568054%,
    rgba(85, 38, 100, 1) 73.50091934204102%,
    rgba(114, 54, 113, 1) 100%
  );
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-27 {
  background: #f5f5f5;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.archives-contain-the-past-posts-of-catch-2-t-27-on-the-website-and-on-our-facebook-page {
  color: #000000;
  text-align: center;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.update-as-of-june-08-2024 {
  color: #000000;
  text-align: center;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-26 {
  background: #eeeeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 360px;
  position: relative;
  overflow: hidden;
}
.frame-28 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  min-width: 200px;
  position: relative;
  overflow: hidden;
}
.image-4 {
  flex-shrink: 0;
  width: 273px;
  height: 353px;
  position: relative;
  object-fit: cover;
}
.image-5 {
  flex-shrink: 0;
  width: 273px;
  height: 353px;
  position: relative;
  object-fit: cover;
}
.frame-29 {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 200px;
  position: relative;
  overflow: hidden;
}
.navigate-the-currents-of-innovation-at-tech-summit-2024-immerse-yourself-in-this-2-day-event-with-informative-talks-immerse-yourself-with-different-booths-and-many-more-see-the-detailed-program-flow-below-what-are-you-waiting-for-pre-register-now-bit-ly-ts-2024-pre-reg-38th-lscs-technology-summit-2024-pub-and-caption-by-kimi-valdez-per-cso-pnp-approved-opa-09186 {
  color: #000000;
  text-align: justified;
  font-family: var(--navbar-title-font-family, "-", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
}
.navigate-the-currents-of-innovation-at-tech-summit-2024-immerse-yourself-in-this-2-day-event-with-informative-talks-immerse-yourself-with-different-booths-and-many-more-see-the-detailed-program-flow-below-what-are-you-waiting-for-pre-register-now-bit-ly-ts-2024-pre-reg-38th-lscs-technology-summit-2024-pub-and-caption-by-kimi-valdez-per-cso-pnp-approved-opa-09186-span {
  color: #000000;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
}
.navigate-the-currents-of-innovation-at-tech-summit-2024-immerse-yourself-in-this-2-day-event-with-informative-talks-immerse-yourself-with-different-booths-and-many-more-see-the-detailed-program-flow-below-what-are-you-waiting-for-pre-register-now-bit-ly-ts-2024-pre-reg-38th-lscs-technology-summit-2024-pub-and-caption-by-kimi-valdez-per-cso-pnp-approved-opa-09186-span2 {
  color: #000000;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  text-decoration: underline;
}
.navigate-the-currents-of-innovation-at-tech-summit-2024-immerse-yourself-in-this-2-day-event-with-informative-talks-immerse-yourself-with-different-booths-and-many-more-see-the-detailed-program-flow-below-what-are-you-waiting-for-pre-register-now-bit-ly-ts-2024-pre-reg-38th-lscs-technology-summit-2024-pub-and-caption-by-kimi-valdez-per-cso-pnp-approved-opa-09186-span3 {
  color: #000000;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
}
.navigate-the-currents-of-innovation-at-tech-summit-2024-immerse-yourself-in-this-2-day-event-with-informative-talks-immerse-yourself-with-different-booths-and-many-more-see-the-detailed-program-flow-below-what-are-you-waiting-for-pre-register-now-bit-ly-ts-2024-pre-reg-38th-lscs-technology-summit-2024-pub-and-caption-by-kimi-valdez-per-cso-pnp-approved-opa-09186-span4 {
  color: #000000;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  text-decoration: underline;
}
.navigate-the-currents-of-innovation-at-tech-summit-2024-immerse-yourself-in-this-2-day-event-with-informative-talks-immerse-yourself-with-different-booths-and-many-more-see-the-detailed-program-flow-below-what-are-you-waiting-for-pre-register-now-bit-ly-ts-2024-pre-reg-38th-lscs-technology-summit-2024-pub-and-caption-by-kimi-valdez-per-cso-pnp-approved-opa-09186-span5 {
  color: #000000;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  text-decoration: underline;
}
.navigate-the-currents-of-innovation-at-tech-summit-2024-immerse-yourself-in-this-2-day-event-with-informative-talks-immerse-yourself-with-different-booths-and-many-more-see-the-detailed-program-flow-below-what-are-you-waiting-for-pre-register-now-bit-ly-ts-2024-pre-reg-38th-lscs-technology-summit-2024-pub-and-caption-by-kimi-valdez-per-cso-pnp-approved-opa-09186-span6 {
  color: #000000;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
}
.frame-282 {
  background: #eaefff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 360px;
  position: relative;
  overflow: hidden;
}
.frame-283 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 200px;
  position: relative;
  overflow: hidden;
}
.image-6 {
  flex-shrink: 0;
  width: 286px;
  height: 356px;
  position: relative;
  object-fit: cover;
}
.frame-292 {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 200px;
  position: relative;
  overflow: hidden;
}
.heads-up-tech-enthusiasts-we-have-exciting-news-check-out-our-curated-list-of-incentivized-courses-for-technology-summit-2024-enhance-your-skills-and-boost-your-career-with-these-exclusive-opportunities-whether-you-re-looking-to-sharpen-your-technical-prowess-refine-your-leadership-skills-or-explore-cutting-edge-industry-trends-we-have-something-tailored-just-for-you-don-t-forget-to-pre-register-bit-ly-ts-2024-pre-reg-38th-lscs-technology-summit-2024-pub-by-anna-katrina-so-caption-by-kimi-valdez-per-cso-pnp-approved-opa-09268 {
  color: #000000;
  text-align: justified;
  font-family: var(--navbar-title-font-family, "-", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 400);
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.heads-up-tech-enthusiasts-we-have-exciting-news-check-out-our-curated-list-of-incentivized-courses-for-technology-summit-2024-enhance-your-skills-and-boost-your-career-with-these-exclusive-opportunities-whether-you-re-looking-to-sharpen-your-technical-prowess-refine-your-leadership-skills-or-explore-cutting-edge-industry-trends-we-have-something-tailored-just-for-you-don-t-forget-to-pre-register-bit-ly-ts-2024-pre-reg-38th-lscs-technology-summit-2024-pub-by-anna-katrina-so-caption-by-kimi-valdez-per-cso-pnp-approved-opa-09268-span {
  color: #000000;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
}
.heads-up-tech-enthusiasts-we-have-exciting-news-check-out-our-curated-list-of-incentivized-courses-for-technology-summit-2024-enhance-your-skills-and-boost-your-career-with-these-exclusive-opportunities-whether-you-re-looking-to-sharpen-your-technical-prowess-refine-your-leadership-skills-or-explore-cutting-edge-industry-trends-we-have-something-tailored-just-for-you-don-t-forget-to-pre-register-bit-ly-ts-2024-pre-reg-38th-lscs-technology-summit-2024-pub-by-anna-katrina-so-caption-by-kimi-valdez-per-cso-pnp-approved-opa-09268-span2 {
  color: #000000;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  text-decoration: underline;
}
.heads-up-tech-enthusiasts-we-have-exciting-news-check-out-our-curated-list-of-incentivized-courses-for-technology-summit-2024-enhance-your-skills-and-boost-your-career-with-these-exclusive-opportunities-whether-you-re-looking-to-sharpen-your-technical-prowess-refine-your-leadership-skills-or-explore-cutting-edge-industry-trends-we-have-something-tailored-just-for-you-don-t-forget-to-pre-register-bit-ly-ts-2024-pre-reg-38th-lscs-technology-summit-2024-pub-by-anna-katrina-so-caption-by-kimi-valdez-per-cso-pnp-approved-opa-09268-span3 {
  color: #000000;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
}
.heads-up-tech-enthusiasts-we-have-exciting-news-check-out-our-curated-list-of-incentivized-courses-for-technology-summit-2024-enhance-your-skills-and-boost-your-career-with-these-exclusive-opportunities-whether-you-re-looking-to-sharpen-your-technical-prowess-refine-your-leadership-skills-or-explore-cutting-edge-industry-trends-we-have-something-tailored-just-for-you-don-t-forget-to-pre-register-bit-ly-ts-2024-pre-reg-38th-lscs-technology-summit-2024-pub-by-anna-katrina-so-caption-by-kimi-valdez-per-cso-pnp-approved-opa-09268-span4 {
  color: #000000;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  text-decoration: underline;
}
.heads-up-tech-enthusiasts-we-have-exciting-news-check-out-our-curated-list-of-incentivized-courses-for-technology-summit-2024-enhance-your-skills-and-boost-your-career-with-these-exclusive-opportunities-whether-you-re-looking-to-sharpen-your-technical-prowess-refine-your-leadership-skills-or-explore-cutting-edge-industry-trends-we-have-something-tailored-just-for-you-don-t-forget-to-pre-register-bit-ly-ts-2024-pre-reg-38th-lscs-technology-summit-2024-pub-by-anna-katrina-so-caption-by-kimi-valdez-per-cso-pnp-approved-opa-09268-span5 {
  color: #000000;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  text-decoration: underline;
}
.heads-up-tech-enthusiasts-we-have-exciting-news-check-out-our-curated-list-of-incentivized-courses-for-technology-summit-2024-enhance-your-skills-and-boost-your-career-with-these-exclusive-opportunities-whether-you-re-looking-to-sharpen-your-technical-prowess-refine-your-leadership-skills-or-explore-cutting-edge-industry-trends-we-have-something-tailored-just-for-you-don-t-forget-to-pre-register-bit-ly-ts-2024-pre-reg-38th-lscs-technology-summit-2024-pub-by-anna-katrina-so-caption-by-kimi-valdez-per-cso-pnp-approved-opa-09268-span6 {
  color: #000000;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
}
.frame-293 {
  background: #eeeeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 360px;
  position: relative;
  overflow: hidden;
}
.frame-284 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 329px;
  position: relative;
  overflow: hidden;
}
.image-7 {
  flex-shrink: 0;
  width: 356px;
  height: 439px;
  position: relative;
  object-fit: cover;
}
.frame-294 {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 320px;
  position: relative;
  overflow: hidden;
}
.green-light-central-program-commuting-routescheck-hello-lasallians-student-support-reporting-for-duty-we-want-to-know-what-other-commute-routes-you-would-like-to-know-comment-it-down-below-for-any-concerns-or-inquiries-please-contact-juliana-tado-tadojuliana-dave-gagala-dave-gagala-adie-tan-adietan-sophia-reyes-sophreyes-kyla-rodriguez-kyla-marcelo-rodriguez-nathan-bufi-nathan-bufi-shaun-tria-shaun-tria {
  color: #000000;
  text-align: justified;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
}
.footer {
  background: #050505;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.footer-content {
  padding: 30px 20px 32px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.links {
  padding: 5px 30px 5px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.inquire-us-send-suggestions {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Ubuntu-Regular", sans-serif);
  font-size: var(--body-font-size, 25px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.links2 {
  padding: 0px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.facebook-link {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.f-initial-letter-for-logo-company-isolated-vector-1 {
  opacity: 0.8;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  object-fit: cover;
}
.facebook {
  color: #ffffff;
  text-align: left;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  opacity: 0.8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gmail-link {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.gmail-logo-white-512-px-1 {
  opacity: 0.8;
  flex-shrink: 0;
  width: 25px;
  height: 18.23px;
  position: relative;
  object-fit: cover;
}
.gmail {
  color: #ffffff;
  text-align: left;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  opacity: 0.8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.github-link {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-git-hub {
  flex-shrink: 0;
  width: 25px;
  height: 24.29px;
  position: relative;
  overflow: visible;
}
.git-hub {
  color: #ffffff;
  text-align: left;
  font-family: var(--navbar-title-font-family, "Ubuntu-Bold", sans-serif);
  font-size: var(--navbar-title-font-size, 20px);
  font-weight: var(--navbar-title-font-weight, 700);
  opacity: 0.8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.white-1 {
  flex-shrink: 0;
  width: 167.86px;
  height: 150px;
  position: relative;
  object-fit: cover;
}
.developed-by-the-web-development-team-of-catch-2-t-27 {
  color: #ffffff;
  text-align: center;
  font-family: var(--small-font-family, "EbGaramond-Regular", sans-serif);
  font-size: var(--small-font-size, 10.5px);
  font-weight: var(--small-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
