/* Figma Styles of your File */
:root {
  /* Colors */
  --background: #050505;
  --text: #d9d9d9;
  --primary: #8924c6;
  --primary-tint: #e3bcd8;
  --primary-shade: #200d32;
  --confirm-accent: #25be62;
  --doubt-accent: #be252e;
  --black: #000000;

  /* Fonts */
  --title-font-family: Ubuntu-Bold, sans-serif;
  --title-font-size: 40px;
  --title-line-height: normal;
  --title-font-weight: 700;
  --title-font-style: normal;
  --body-font-family: Ubuntu-Regular, sans-serif;
  --body-font-size: 25px;
  --body-line-height: normal;
  --body-font-weight: 400;
  --body-font-style: normal;
  --small-font-family: EbGaramond-Regular, sans-serif;
  --small-font-size: 10.5px;
  --small-line-height: normal;
  --small-font-weight: 400;
  --small-font-style: normal;
  --navbar-title-font-family: Ubuntu-Bold, sans-serif;
  --navbar-title-font-size: 20px;
  --navbar-title-line-height: normal;
  --navbar-title-font-weight: 700;
  --navbar-title-font-style: normal;
  --mobile-title-font-family: JetBrainsMono-Bold, sans-serif;
  --mobile-title-font-size: 20px;
  --mobile-title-line-height: normal;
  --mobile-title-font-weight: 700;
  --mobile-title-font-style: normal;
  --mobile-body-font-family: Inter-Regular, sans-serif;
  --mobile-body-font-size: 12px;
  --mobile-body-line-height: normal;
  --mobile-body-font-weight: 400;
  --mobile-body-font-style: normal;
  --xltitle-font-family: Inter-Regular, sans-serif;
  --xltitle-font-size: 120px;
  --xltitle-line-height: normal;
  --xltitle-font-weight: 400;
  --xltitle-font-style: normal;

  /* Effects */
}
