@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Ubuntu';
        src: url('fonts/Ubuntu-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Ubuntu Bold';
        font-weight: 700;
        src: url('fonts/Ubuntu-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Ubuntu Italic';
        font-style: italic;
        src: url('fonts/Ubuntu-Italic.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Ubuntu Bold Italic';
        font-weight: 700;
        font-style: italic;
        src: url('fonts/Ubuntu-BoldItalic.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Ubuntu Light';
        src: url('fonts/Ubuntu-Light.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Ubuntu Light Italic';
        src: url('fonts/Ubuntu-Light-Italic.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Ubuntu Medium';
        src: url('fonts/Ubuntu-Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Ubuntu Medium Italic';
        src: url('fonts/Ubuntu-Medium-Italic.ttf') format('truetype');
    }
}